@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --f-all: "Red Hat Text", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-all);
}

body {
    background-color: hsl(13, 31%, 94%);
}

/* MAIN */

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    padding: 80px 100px;
}

/* MAIN LEFT */

.main-left {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

/* MAIN LEFT TEXT */

.main-left-text {
    display: flex;
}

.main-left-text-itself {
    font-size: 2.5rem;
    color: hsl(14, 65%, 9%);
}

/* MAIN LEFT DESSERTS */

.desserts-themselves {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px 25px;
}

.dessert {
    display: flex;
    flex-direction: column;
}

.dessert-image {
    line-height: 0;
    border-radius: 1rem;
    overflow: hidden;
}

.dessert-image-itself {
    width: 100%;
}

/* DESSERT BUTTONS */

.dessert-buttons {
    height: 30px;
    position: relative;
}

.add-to-cart-button-itself {
    width: 70%;
    height: 45px;
    position: absolute;
    top: -80%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    border-radius: 1.5rem;
    border: 1px solid hsl(14, 65%, 9%);
    background-color: white;
    cursor: pointer;
    transition: border 300ms;
}

.add-to-cart-button-itself-text {
    color: hsl(14, 65%, 9%);
    font-weight: 600;
    font-size: 1rem;
    transition: color 300ms;
}

.add-to-cart-button-itself:hover {
    border: 1px solid hsl(14, 86%, 42%);
}

.add-to-cart-button-itself:hover .add-to-cart-button-itself-text{
    color: hsl(14, 86%, 42%);
}

.increment-decrement-button {
    width: 70%;
    height: 45px;
    top: -80%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: hsl(14, 86%, 42%);
    border-radius: 1.5rem;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: space-between;
    padding-inline: 9px;
}

.increment-decrement-button > button {
    border: 0;
    border-radius: 1.5rem;
    width: 28px;
    height: 28px;
    border: 1px solid white;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 300ms;
}

.increment-decrement-button > button > svg {
    color: white;
    width: 20px;
    height: 20px;
    transition: color 300ms;
}

.decrement-button:hover,
.increment-button:hover {
    background-color: white;
}

.decrement-button:hover .decrement-button-svg,
.increment-button:hover .increment-button-svg {
    color: hsl(14, 86%, 42%);
}

.output-of-calculating {
    color: white;
    font-size: 1.1rem;
}

/* DESSERT INFO */

.dessert-info {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.dessert-category {
    color: hsl(7, 20%, 60%);
    font-weight: 400;
}

.dessert-name {
    color: hsl(14, 65%, 9%);
    font-weight: 700;
}

.dessert-price {
    color: hsl(14, 86%, 42%);
}

/* MAIN RIGHT */